@import url(https://fonts.cdnfonts.com/css/josefin-sans);
@import url(https://fonts.cdnfonts.com/css/Adlinnaka);
@import url(https://fonts.cdnfonts.com/css/gulyana);

.header{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-bottom: 10px;
}


.main-buttons {
    display: flex; /* Enable Flexbox */
    justify-content: space-evenly; /* Evenly space items */
    align-items: center;
  
}


.mainmenu{
    list-style-type: none;
    padding: 30px 70px;
    font-family: 'Gulyana', sans-serif;
    color:#728C69;
}

.mainmenu li{
    font-size: 60px;
    display: inline;
    margin: 10px;
    
}

.mainmenu a{
    text-decoration: none;
    color: #7c9d71;
}
.mainmenu li:hover{
    cursor: pointer;
}
  

@media screen and (max-width:768px){
    .header {
        display: block;
    }

    .logo {
        text-align: center;
    }
    
    .top-left {
        position: static;
        text-align: center;
        margin-inline: auto;
    }

    .mainmenu {
        padding: 0;
        text-align: center;
    }
    
}