<app-header></app-header>
<div class="introbar">
    <h1 class="bar-heading"> Suad's Skills</h1>
    <h1 class="content-text">Bridging Law and Technology for Innovative Solutions</h1>
    <h3 class="content-subtext">  With an LLB under my belt, I've embarked on an interesting path that harmonizes law,
        technology, and a sprinkle of creativity. 
    </h3>
</div>

<div class="sidebyside">
    <div>
        <h2 class="bar-heading">Legal Insights</h2>
        <h5 class="content-text"> Legal Research, Data Analysis, Collection of data</h5>
        <p class="content-subtext"> My professional journey began as a Legal Assistant at Tullow Ghana Limited, where I dove into
            the intricacies of the legal world. There, I honed my skills in meticulous research and data collection. My
            ability to dissect complex legal matters and distill them into comprehensible information became a hallmark
            of my work. 
        </p>
    </div>
    <div class="sidebyside">
        <img src="assets/images/legalcollage.png" width="500px" alt="" srcset="">
    </div>
</div>

<div class="sidebyside">
    <div class="sidebyside">
        <img src="assets/images/socialphoto.png" width="500px" alt="" srcset="">
    </div>
    <div>
        <h2 class="bar-heading">Social Media Management</h2>
        <h5 class="content-text"> Content strategy, Account management, Copywriting, Customer Servicet</h5>
        <p class="content-subtext"> Embracing the digital age, I ventured into the realm of social media management first with an
            Accra based media management company called The Brands Manager before becoming a freelance professional.
            Working with a vast array of companies such as Polo Beach Club, Club Nineteen, Kiddie Scholars and Zero
            Blade curating engaging content calendars and devising social media strategies were my daily tasks.
            My creative flair allowed me to breathe life into brands' online personas, transforming mundane feeds into
            vibrant, interactive communities. </p>
    </div>
    
</div>
<div class="sidebyside">
    <div>
        <h2 class="bar-heading">Tech Insights</h2>
        <h5 class="content-text"> HTML, CSS, Javascript, Java Figma, Python, Django</h5>
        <p class="content-subtext"> Recognizing the growing synergy between law and technology, I embarked on an internship journey
            at MEST portfolio company Judy Innovative Technologies. Here, I delved into the world of HTML, CSS, Figma,
            Python, and Django. These skills opened up new avenues for me to bridge the gap between legal and tech
            realms, paving the way for innovative solutions in the legal field.
        </p>
    </div>
    <div class="sidebyside">
        <img src="assets/images/techads.png" width="500px" alt="" srcset="">
    </div>
</div>

<div class="sidebyside">
    <div class="sidebyside">
        <img src="assets/images/socialphoto.png" width="500px" alt="" srcset="">
    </div>
    <div>
        <h2 class="bar-heading">Media and public Speaking</h2>
        <h5 class="content-text"> Radio, Youtube, Podcasts, Blogs</h5>
        <p class="content-subtext"> My creative flair allowed me to breathe life into brands' online personas, transforming mundane feeds into
            vibrant, interactive communities. </p>
    </div>
    
</div>
<app-footer></app-footer>