<div class="hero">
</div>
<ul style='list-style: none;' class="menu">
<a routerLink="/">Home</a>
</ul>

<div class="intro">
    <h1>🛠️ The Builder – Sanasana (Founder, Product Lead)  </h1>
    <h2> Role: Tech, Product, Marketing </h2>
    <h3> Tools : Figma, React, Odoo, Canva </h3>
    <h4>Timeframe: 2024 -  </h4>

</div>
<div class="meat">
    <p>
        Sanasana is a sustainability-focused startup I co-founded to help logistics companies in Africa reduce fuel costs and emissions
         through smart software. I led the development of Spark, our core product — a hardware-free fleet optimization tool.
    </p> 
    <div class="sidebyside">

        <div class="sbar">
            <img src="assets/images/legallens2.png" alt="Description of image" class="image-match">

            <h5>Legal Lens</h5>
        </div>
        <div class="sbar">
            <img src="assets/images/legallens2.png" alt="Description of image" class="image-match">

            <h5> Pitching Legal Lens </h5>

        </div>
        
    </div>
</div>

<div class="meat">
    <h1> ⚙️ What I Did </h1>
    <p>
        1. Product Research & Discovery: Interviewed logistics teams in Ghana, Kenya, and Uganda to understand pain points around fuel consumption, trip planning, and asset tracking.
       <br>
       2.  UX Design & Frontend Development: Created user flows, wireframes, and built key parts of the frontend using [add tools/stack].
       <br>  
       3. Feature Definition & Roadmapping: Prioritized features like trip planning, route optimization, and fuel variance tracking. Managed iterations and MVP rollout.
        <br>
       4.  Marketing & Brand Strategy: Developed brand voice, product messaging, and launched our content marketing engine. Drove early traction through targeted outreach and thought leadership.
    </p>
    
    
</div>

<div class="meat">
    <h1> 📊 Impact & Achievements </h1>
    <p>1. Improved fuel tracking accuracy for pilot users by 15%
       <br>
        2. Enabled small fleets to digitize operations without hardware
        <br>
        3. Helped clients cross-check expected vs. actual fuel spend, reducing waste and fraud
    </p>
</div>




