<div class="hero">
</div>
<ul style='list-style: none;' class="menu">
<a routerLink="/">Home</a>
</ul>

<div class="intro">
    <h1>🛠️ Builder at Sanasana (Founder, Product Marketing Lead)  </h1>
    <h2> Role: Tech, Product, Marketing </h2>
    <h3> Tools : React js, Figma, Odoo, Canva, Hubspot, Google Analytics, Mailchimp. </h3>
    <h4> Timeframe: 2024 -  </h4>

</div>
<div class="meat">
    <p>
        Sanasana is a sustainability-focused startup I co-founded to help logistics companies in Africa reduce fuel costs and emissions
         through smart software. <br> I led the development of Spark, our core product — a hardware-free fleet optimization tool.
    </p> 
    <div class="sidebyside">

        <div class="sbar">
            <img src="assets/images/sanateam.JPG" alt="Description of image" class="image-match">

            <h5>Sanasana team</h5>
        </div>
        
    </div>
</div>

<div class="meat">
    <h1> ⚙️ What I Did </h1>
    <h2>1. Product Research & Discovery:  </h2>
    <p>Interviewed logistics teams in Ghana, Kenya, and Uganda to understand pain points around fuel consumption, trip planning, and asset tracking.</p>
    <h2> 2.  UX Design & Frontend Development:</h2>
    <p>Created user flows, wireframes, and built key parts of the frontend using [add tools/stack].</p>
     <div class="sidebyside">

        <div class="sbar">
            <img src="assets/images/sparkuserflow.png" alt="Description of image" class="image-match">

            <h5>Spark user flow on Figma</h5>
        </div>
        <div class="sbar">
            <img src="assets/images/sparkdesign.png" alt="Description of image" class="image-match">

            <h5>Spark ui ux design</h5>
        </div>
        
    </div>
    <h2>3. Feature Definition & Roadmapping:</h2>
    <p>Prioritized features like trip planning, route optimization, and fuel variance tracking. Managed iterations and MVP rollout.</p>
    <div class="sidebyside">

        <div class="sbar">
            <img src="assets/images/sparkmaintenancepage.png" alt="Description of image" class="image-match">

            <h5>Spark app maintenance page</h5>
        </div>
        
    </div>
    <h2> 4.  Marketing & Brand Strategy:</h2>
    <p> Developed brand voice, product messaging, and launched our content marketing engine. Drove early traction through targeted outreach and thought leadership.</p>
      
   
    
</div>
<ul style='list-style: none;' class="menu">
<a routerLink="/">Home</a>
</ul>




