<app-header></app-header>
<div class="introbar">
    <h1 class="bar-heading"> Interested in working together?</h1>
    <h1 class="content-text">Reach out through the following mediums</h1>
</div>
<div>
    <div class="body">
        <button><a href="mailto:abdelrahmansuad@gmail.com">Send Suad An Email</a></button>
    </div>
    <div class="body">
        <button><a href="mailto:lustrelabsgh@gmail.com">Send Lustre Labs An Email</a></button>
    </div>
    <div class="body">
        <button><a href="mailto:getsanasana@gmail.com">Send Sana Sana An Email</a></button>
    </div>
</div>
<app-footer></app-footer>
