<div class="hero">
</div>
<ul style='list-style: none;' class="menu">
    <a routerLink="/">Home</a>
</ul>

<div class="intro">
    <h1>🛠️ The Builder – Lustre Labs (Founder, Product Lead) </h1>
    <h2> Role: Business, Product, Marketing </h2>
    <h3> Tools : Figma, Odoo, Canva, Shopify, Instagram, Notion, Google Docs</h3>
    <h4>Timeframe: 2024 - </h4>

</div>
<div class="meat">
    <p>
        Building an African Skincare Brand Rooted in Sustainability
    </p>
    <div class="sidebyside">

        <div class="sbar">
            <img src="assets/images/legallens2.png" alt="Description of image" class="image-match">

            <h5>Legal Lens</h5>
        </div>
        <div class="sbar">
            <img src="assets/images/legallens2.png" alt="Description of image" class="image-match">

            <h5> Pitching Legal Lens </h5>

        </div>

    </div>
</div>

<div class="meat">
    <h1> ⚙️ What I Did </h1>
    <p>
        1. Product Development: Researched and formulated sustainable, plant-based skincare using African ingredients
        like shea butter, cocoa butter, and black soap.
        <br>
        2. Brand Strategy: Created the brand identity from scratch — name, tone, visuals, and packaging — with a focus
        on heritage, clean beauty, and wellness.
        <br>
        3. E-commerce: Designed and launched the online store via Shopify, integrating payment systems, logistics, and
        basic analytics.
        <br>
        4. Community & Marketing: Led all content creation across Instagram and newsletters, developed educational
        content on ingredients and rituals, and built a loyal, values-aligned audience.
        <br>
        5. Growth & Collaborations: Partnered with fitness studios and wellness spaces to host experiential events that
        connected the brand to self-expression and empowerment.
    </p>


</div>

<div class="meat">
    <h1> 📊 Impact & Achievements </h1>
    <p>1. Sold out first batch of products in under 2 weeks through organic marketing
        <br>
        2. Built an Instagram community of engaged followers with zero ad spend
        <br>
        3.Developed a repeat customer base and strong DMs-driven customer support flow
        <br>
        4. Created brand documentation and digital assets now being pitched for acquisition
    </p>
</div>

