<div class="hero">
</div>
<ul style='list-style: none;' class="menu">
    <a routerLink="/">Home</a>
</ul>

<div class="intro">
    <h1>🛠️ Dreamer at Lustre Labs (Creative Director & Product Lead) </h1>
    <h2> Role: Business, Product, Marketing </h2>
    <h3> Tools : Figma, Odoo, Canva, Shopify, Instagram, Notion, Google Docs, Mailchimp </h3>
    <h4>Timeframe: 2017 - </h4>

</div>
<div class="meat">
    <p>
        Building an African Skincare Brand Rooted in Sustainability
    </p>
    <div class="sidebyside">

        <div class="sbar">
            <img src="assets/images/abanddavid.png" alt="Description of image" class="image-match">

            <h5>Representing Lustre Labs at the 2024 AB & David Int. Women's Day Lunch</h5>
        </div>

    </div>
</div>

<div class="meat">
    <h1> ⚙️ What I Did </h1>
    <h2>1. Product Development: </h2>
    <p> Researched and formulated sustainable, plant-based skincare using African ingredients
        like shea butter, cocoa butter, and black soap.</p>
    <h2> 2. Brand Strategy:</h2>
    <p>Created the brand identity from scratch — name, tone, visuals, and packaging — with a focus
        on heritage, clean beauty, and wellness.
    </p>
    
    <h2> 3.E-commerce: </h2>
    <p> Designed and launched the online stores via Shopify, Odoo and Paystack integrating payment systems, logistics, and
        basic analytics.</p>
    <div class="sidebyside">

        <div class="sbar">
            <img src="assets/images/lustreshop.png" alt="Description of image" class="image-match">

            <h5>Lustre Labs on Odoo</h5>
        </div>
        <div class="sbar">
            <img src="assets/images/paystackshop.png" alt="Description of image" class="image-match">

            <h5>Lustre Labs on Paystack</h5>
        </div>

    </div>
    <h2> 4.Community & Marketing:</h2>
    <p>Led all content creation across Instagram and newsletters, developed educational
        content on ingredients and rituals, and built a loyal, values-aligned audience.</p>
        <div class="sidebyside">

        <div class="sbar">
            <img src="assets/images/lustregrid1.jpg" alt="Description of image" class="image-match">

            <h5>Lustre Labs on IG </h5>
        </div>
        <div class="sbar">
            <img src="assets/images/lustregrid2.jpg" alt="Description of image" class="image-match">

            <h5>Lustre Labs on IG</h5>
        </div>

    </div>
    <h2>5. Growth & Collaborations: </h2>
    <p> Partnered with fitness studios and wellness spaces to host experiential events that
        connected the brand to self-expression and empowerment.</p>
    <div class="sidebyside">

        <div class="sbar">
            <img src="assets/images/community.JPG" alt="Description of image" class="image-match">

            <h5>Bloom Into Balance Wellness Event </h5>
        </div>


</div>

<div class="meat">
    <h1> 📊 Impact & Achievements </h1>
    <h2>1. Sold out first batch of products in under 2 weeks through organic marketing </h2>
    <h2>2. Built an Instagram community of engaged followers with zero ad spend</h2>
    <h2>3. Developed a repeat customer base and strong DMs-driven customer support flow</h2>
    
</div>

<ul style='list-style: none;' class="menu">
    <a routerLink="/">Home</a>
</ul>