<app-header></app-header>
<div class="introbar">
    <h1 class="bar-heading"> Sides of Suad</h1>
    
</div>  
    <div class="servicebar">
        <div>
            <h2 class="bar-heading"> STORYTELLER SUSU </h2>
            <img src="assets/images/sbp.png"  alt="" srcset="">
            <h5 class="content-text"> Writer, Speaker Content Creator</h5>
            <p class="content-subtext">A dynamic voice shaping thoughts through articles, YouTube, and podcasts,
                weaving insightful narratives across media.
            </p> 
        </div>
    
        <div>
            <h2 class="bar-heading"> BOHO SUSU </h2>            
            <img src="assets/images/lustremarket.png" alt="" srcset="">
            <h5 class="content-text"> Entrepreneur, Wellness Enthusiast </h5>
            <p class="content-subtext">An artisanal guru behind 2 soulful self-care and wellness brands. Catch her at
                local pop-up markets, sharing her
                their passion for holistic well-being with the community. 
            </p>
        </div>
    
        <div>
            <h2 class="bar-heading"> STEM SUSU</h2>
            <img src="assets/images/mest.png" alt="" srcset="">
            <h5 class="content-text"> Developer, Entrepreneur </h5>
            <p class="content-subtext">A software developer and entrepreneur, she dove into the world of technology
                through MEST, a comprehensive training and incubator program.  
            </p>
        </div>
    </div>


<div class="companybar">
    <h1> FROM THE BAR TO THE BACKEND</h1>
    <p>
        A trailblazer who's embraced a bold and unconventional journey over the past four years. Starting in law 
        and venturing through diverse industries, she has gathered a rich tapestry of experiences. Standing at the
         helm of software entrepreneurship, today is a testament to my adaptability, ambition, and the pursuit of 
         untrodden paths.
    </p>
    <h3>ORGANIZATIONS THAT SUAD HAS BEEN AFFILIATED WITH ..</h3>
    <ul class="icons">
        <li> <img src="assets/images/mestlogo.png" alt="Mest Africa logo"> </li>
        <li> <img src="assets/images/tgl.png" alt="TGL logo"></li>
        <li> <img src="assets/images/judy.svg" alt="Judy Legal logo"></li>
        <li> <img src="assets/images/lustrelabs.png" alt="Lustre Labs logo"></li>
    
    </ul>
</div>

<div class="sidebyside">
    <div class="foot-text">
        <h1 class="foot-heading"> Interested in Working Together?</h1>
        <h4 class="foot-subtext"> Reach out to me for project and content collaborations or sponsorships.  </h4>
        <button class="button">contact me</button>
    </div>
    <div class="sidebyside">
        <img src="assets/images/footerimage2.JPG" width="500px" alt="" srcset="">
    </div>
</div>
<app-footer></app-footer>
