@import url(https://fonts.cdnfonts.com/css/im-fell-french-canon-2);
@import url(https://fonts.cdnfonts.com/css/gulyana);
@import url(https://fonts.cdnfonts.com/css/rottering);


.pp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.pp img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #d24e01;
    object-fit: cover;
}

.header {
    font-family: 'Gulyana', sans-serif;
    font-size: 90px;
    text-align: center;
    color: black;

}

.pptext {
    font-family: 'rottering', sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
}

.pptext a {
    color: #d24e01;
}

.pptext li:hover {
    cursor: pointer;
}

.bartext {
    font-family: 'Gulyana', sans-serif;
    font-size: 60px;
    text-align: center;
    color: black;
}

.subheading {
    font-family: 'rottering', sans-serif;
    text-align: center;
    color: #d24e01;
    align-items: center;
}

.subtext {
    font-family: 'rottering', sans-serif;
    font-size: 25px;
    text-align: center;
    color: black;
    padding: 0px 30px;
    margin: 0px;
    align-items: center;
}


.links a {
    font-family: 'IM FELL French Canon', sans-serif;
    font-size: 18px;
    color: #d24e01;
    text-align: center;
    align-items: center;

}

.links1 a {
    font-size: 28px;
    color: #d24e01;
}



.workbar {
    display: block;
    justify-content: space-between;
    align-items: flex-start;
}



.servicebar {
    display: flex;
    justify-content: center;
    /* Ensures columns are spaced out */
    gap: 1rem;
    flex-wrap: wrap;
    
}

.sbar {
 text-align: center;
 
    /* Centers all content in the column */
}

.sidebyside {
    display: flex;
    justify-content: center;
    /* Ensures columns are spaced out */
    gap: 1rem;
    flex-wrap: wrap;
    

}

.sidebyside img {
    width: 500px;
    height: 315px;
    object-fit: cover;
    border-radius: 0px;         /* makes it rectangular */
    border: none;   

}

.image-match {
    width: 500px;
    height: 315px;
    object-fit: cover;
    border-radius: 0px;         /* makes it rectangular */
    border: none;    
}

.servicebar img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #d24e01;

}



.historytext {
    padding-bottom: 100px;
}



.email {
    padding: 30px;
}



button {

    background-color: #d24e01;
    border: 5px;
    color: white;
    border-radius: 20%;
    padding: 15px 25px;
    text-decoration: none;
    display: block;
    font-size: 17px;
    font-family: 'rottering', sans-serif;
    margin: auto;

}

button a {
    text-decoration: none;
    color: white;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;

    
}



@media (max-width: 1024px) {
    .contact {
        padding: 0px;
    }


    .servicebar img {
        width: 300px;
        height: 300px;

    }
}

@media (max-width: 900px) {

    .sidebyside {
        display: block;

    }

    .sidebyside img {
        width: 100%;
    }

}

@media (max-width: 768px) {


    .servicebar img {
        width: 200px;
        height: 200px;

    }

    .servicebar {
        display: block;
    }

    .subtext {
        font-size: 20px;
    }


    .sidebyside {
        display: block;

    }

    .sidebyside img {
        width: 100%;
    }

    .icons li {
        list-style-type: none;
        padding: 50px 50px;
        display: inline;
    }


    .icons li img {
        width: 60px;
    }
}

@media (max-width: 425px) {


    .servicebar {
        display: block;
        align-items: center;

    }

    .sbar iframe {
        width: 100%;
    }


    .foot-text {
        padding: 50px 0px;

    }

    .foot-heading {
        font-size: 40px;

    }

    .contact {
        display: block;
        padding-left: 0px;
    }

}

@media (max-width: 375px) {
    .companybar {
        padding: 30px 30px;
    }

}