<div class="body">

    <h1 class="header"> Hi, I'm Suad </h1>
    <div class="pp">
        <img src="assets/images/cover.png" alt="">
    </div>
    <p class="pptext"> A two-time founder, content marketer, product and software developer. <br>
        I have a passion for bringing ideas to life whether in the form of storytelling,<br>
        writing code or developing new businesses and products.
    </p>

    <div class="pptext">
        <h1 class="bartext"> sides of suad </h1>
    </div>
    <div class="workbar">

        <h1 class="subheading"> Tech, Product, Marketing at Sanasana</h1>
        <h5 class="subtext"> Sanasana is a sustainability-focused startup I co-founded to help logistics companies in
            Africa reduce fuel costs and emissions through smart software.
            I led the development of Spark, our core product — a hardware-free fleet optimization tool.
        </h5>

        <div class="servicebar">

            <div class="sbar">
                <iframe width="500" height="315"
                    src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7317502935943249920?compact=1"
                    title="YouTube video" frameborder="0" allowfullscreen></iframe>
                <h5>On Startup Discovery School Africa</h5>
            </div>
            <div class="sbar">

                <iframe width="500" height="315" border-radius="50%" src="https://www.youtube.com/embed/RbVtKLY2PzM"
                    title="YouTube video" frameborder="0" allowfullscreen></iframe>
                <h5> Spark MVP demo </h5>

            </div>
        </div>

        <ul style='list-style: none;' class="pptext">
            <a routerLink="/sanasana">Sanasana Case Study</a>
            <li> <a href="www.sanasanasustainability.com">Visit Sanasana Website</a></li>
        </ul>

        <h1 class="subheading"> Business, Product & Marketing at Lustre Labs </h1>
        <h5 class="subtext"> Lustre Labs is a beauty and wellness brand I founded to celebrate African rituals, 
            plant-based skincare, and holistic self-care. We craft sustainable products using indigenous ingredients 
            like shea butter, cocoa butter, and black soap — blending tradition with modern science. I led the development 
            of the brand from concept to launch, overseeing everything from product formulation and packaging design to 
            e-commerce setup and content marketing.</h5>
        <div class="servicebar">

            <div class="sbar">
                <iframe width="500" height="315" src="https://www.youtube.com/embed/Jte48MoPvUA"
                    title="YouTube video" frameborder="0" allowfullscreen></iframe>
                <h5>Lustre Labs</h5>
            </div>
            <div class="sbar">

                <iframe width="500" height="315"
                    src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fweb.facebook.com%2F3fm927%2Fvideos%2F350855643559428%2F&show_text=false&width=560&t=0"
                    title="Facebook video" frameborder="0" allowfullscreen></iframe>
                <h5> Feature On 3FM </h5>

            </div>
            
        </div>
        <ul style='list-style: none;' class="pptext">
            <a routerLink="/lustrelabs">Lustre Labs Case Study</a>
            <li><a href="www.lustrelabs.co/shop" target="_blank">Lustre Labs Shop </a></li>
            <li><a href="www.linktree.com/lustrelabs">Lustre Labs Socials </a></li>
        </ul>
        <h1 class="subheading"> Product & Marketing at Legal Lens </h1>
        <h5 class="subtext"> Legal Lens is a web-based legal research tool built to help lawyers in Ghana 
            save time and make better-informed decisions by surfacing relevant precedents and case summaries 
            through a searchable, structured interface.
        </h5>
        <div class="sidebyside">

            <div class="sbar">
                <iframe width="500" height="315" src="https://www.youtube.com/embed/CoDAy606ATE"
                    title="YouTube video" frameborder="0" allowfullscreen></iframe>
                <h5>Legal Lens</h5>
            </div>
            <div class="sbar">
                <img src="assets/images/legallens2.png" alt="Description of image" class="image-match">

                <h5> Pitching Legal Lens </h5>

            </div>
            
        </div>
        <ul style='list-style: none;' class="pptext">
            <a routerLink="/legallens">Legal lens Case Study</a>
        </ul>
        <h1 class="subheading"> Product & Marketing at Sato Reality </h1>
        <h5 class="subtext"> A web application that provides practical lessons to high school science students through gamification and extended reality.
        </h5>
        <div class="sidebyside">
            <div class="sbar">
                <img src="assets/images/sato.png" alt="Description of image" class="image-match">

                <h5> Sato Reality Pitch deck </h5>

            </div>
            <div class="sbar">
                <iframe width="500" height="315" src="https://www.youtube.com/embed/6_2NFRsH_cY"
                    title="YouTube video" frameborder="0" allowfullscreen></iframe>
                <h5>Sato Reality demo </h5>
            </div>
            
        </div>
        <ul style='list-style: none;' class="pptext">
            <li><a href="www.lustrelabs.co/shop" target="_blank">Case Study </a></li>
        </ul>

    </div>
    <div class="pptext">
        <h1 class="bartext"> suad's skills</h1>
    </div>
    <div class="servicebar">
        <div class="sbar">
            <img src="assets/images/lustre.png" alt="" srcset="">
            <h1 class="subheading"> Product Leadership</h1>
            <p class="subtext"> Digital and physical goods </p>
            <h6> product management, owning the process from inception <br>
                to market research, MVP development and GTM strategy.</h6>

            <ul style='list-style: none;' class="links">
                <li><a href="https://www.lustrelabs.co/" target="_blank">Lustre Labs E-commerce</a></li>
                <li> <a href="https:// www.sanasanasustainability.com">Sanasana SAAS</a></li>

            </ul>

        </div>
        <div class="sbar">

            <img src="assets/images/sdspanel.png" alt="" srcset="">
            <h1 class="subheading"> Storytelling</h1>
            <h5 class="subtext"> Stories through my lens</h5>
            <h6>TV & Public Speaking on entrepreneurship, tech. <br>
                Freelance content writing on technology and entrepreneurship. </h6>

            <ul style='list-style: none;' class="links">
                <li><a href="https://medium.com/@suadar">Tech Entrepreneurship Newsletter</a></li>
                <li><a href="https://www.linkedin.com/newsletters/starting-sanasana-7244438648090148865">Sanasana newsletter</a></li>
                <li><a href="https://web.facebook.com/3fm927/videos/3fm-sunrise-15th-february-2022/350855643559428/">Feature On 3FM 92.7 </a></li>
                <li><a href="https://web.facebook.com/3fm927/videos/3fm-sunrise-15th-february-2022/350855643559428/">Feature On Business & Tech Guide </a></li>

            </ul>
        </div>
        <div class="sbar">
            <img src="assets/images/mestgrad.png" alt="" srcset="">
            <h1 class="subheading"> Software as a service</h1>
            <h5 class="subtext"> Building digital solutions. </h5>
            <h6>Website development, mobile and web app development. </h6>

            <ul style='list-style: none;' class="links">
                <li><a href="github.com/suad-ar" target="_blank">Github </a></li>

            </ul>
        </div>

    </div>

    <div>
        <div class="historytext">
            <h1 class="bartext"> suad's story</h1>
            <p class="subtext"> Suad is a law student turned founder, product and marketing manager, software entrepreneur. </p>

        </div>
        <div class="sbar">

            <iframe width="500" height="315" border-radius="50%" src="https://www.youtube.com/embed/sOoaWU9HMcs"
                title="YouTube video" frameborder="0" allowfullscreen></iframe>
            <h5> Feature on the Business & Tech Guide by The Daily Guide</h5>
        </div>
    </div>




    <div class="foot-text">
        <h1 class="subheading"> Interested in Working Together? </h1>
        <h4 class="subtext">
            Reach out through the medium you find most appropriate for the nature and scope of work.
        </h4>

        <div class="contact">

            <div class="email">
                <button><a href="mailto:abdelrahmansuad@gmail.com">Email Suad</a></button>
            </div>
            <div class="email">
                <button><a href="mailto:suad@lustrelabs.co">Email Lustre Labs</a></button>
            </div>
            <div class="email">
                <button><a href="mailto:suadabdelrahman@sanasanasustainability.com">Email Sanasana</a></button>
            </div>
        </div>

    </div>
</div>